<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Library</title>
  </head>
  <body>
    <%- include('nav.ejs') %>
    <div id="content-container">
        <%- body %>
    </div>  
    <%- include('footer.ejs') %>
  </body>
</html>
