<nav id="sidebar">
  <a href="/catalog">Home</a>
  <a href="/catalog/books">Books</a>
  <a href="/catalog/authors">Authors</a>
  <a href="/catalog/genres">Genres</a>
  <a href="/catalog/bookinstances">Book Instances</a>
  <a href="/catalog/author/create">Create author</a>
  <a href="/catalog/genre/create">Create genere</a>
  <a href="/catalog/book/create">Create book</a>
  <a href="/catalog/bookinstances/create">Create book instance</a>
</nav>
